<h2 class="my_heading">ROAD TRACKER</h2>

{{#if ide}}
    <p class="my_heading">Hello, <a type="button" href="users/profile">{{userName}}!</a></p>
    <ul >
        <li><a href="data">Data</a></li>
        <li><a href="data/add">Add</a></li>
    </ul>
{{else}}
    <p  class="my_heading">Hello, stranger!</p>
    <ul>
        <li><a type="button" href="users/register">Register</a></li>
        <li><a type="button" href="users/login">Login</a></li>
    </ul>
{{/if}}