<!DOCTYPE html>
<html>
<head>
    <title>Road Tracker</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<nav>
    <div class="nav-logo"><h4>ROAD TRACKER</h4></div>

    <ul class="nav-a">
        <li><a href="/">Home</a></li>
        <li><a href="data">Data</a></li>
        <li><a href="data/add">Add</a></li>
    </ul>

</nav>

<div class="main">

    {{{body}}}

</div>
</body>
</html>
