<!DOCTYPE html>
<html>
  <head>
    <title>Road Tracker</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>


    <div class="main">

    {{{body}}}

    </div>
  </body>
</html>
