<!DOCTYPE html>
<html>
<head>
    <title>Road Tracker</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel = "stylesheet" href = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
</head>
<body>
<nav class="navMenu">
    <!--<div class="nav-logo"><h4>ROAD TRACKER</h4></div>

    <ul class="nav-a">
        <li><a href="/">Home</a></li>
        <li><a href="data">Data</a></li>
        <li><a href="data/add">Add</a></li>
    </ul> -->
        <a href="/">Home</a>
        <a href="/data">Data</a>
        <a href="/data/add">Submit</a>

    <div class="dot"></div>

</nav>

<div class="main">

    {{{body}}}

</div>
</body>
</html>
