<h1>DATA</h1>

<hr>
{{#each dat}}
    <p>Long: {{longitude}}</p>
    <p>Lat: {{latitude}}</p>
    <hr>    
{{/each}}


<div style="text-align: center; margin-top: 50px"><a type="button" href="/">Take me back home</a></div>