<h2 class="my_heading">DATA</h2>
<hr>
{{#each dat}}
    <p class="my_heading">Long: {{longitude}}</p>
    <p class="my_heading">Lat: {{latitude}}</p>
    <hr>
{{/each}}
<div  class="my_heading" style="text-align: center; margin-top: 50px"><a type="button" href="/">Take me back home</a></div>


<div id="map"></div>


<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
<script>
    map = new OpenLayers.Map("map");
    map.addLayer(new OpenLayers.Layer.OSM());

    var lonLat = new OpenLayers.LonLat(15.645881 ,46.554650)
        .transform(
            new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
            map.getProjectionObject() // to Spherical Mercator Projection
        );
    var markers = new OpenLayers.Layer.Markers( "Markers" );
    map.addLayer(markers);
    markers.addMarker(new OpenLayers.Marker(lonLat));

    var zoom=14;
    map.setCenter (lonLat, zoom);

</script>