<div style="margin: 0px 200px 0px 200px;">
    <h2 class="my_heading" style="text-align: center;">LOGIN WITH PHOTO</h2>

    <form action="send_photo" enctype="multipart/form-data" method="post">
        <label for="name" class="form__label">Choose photo to login</label>
        <input class="form__field" type="file" name="photo" required>
        <input type="submit"   id="add_button" value="Login">
    </form>
</div>