<h1 style="text-align: center;">PROFILE</h1>
<div class="profileBox">
    {{#each users}}
        {{#if (eq _id ../id)}}
            <p style="font-size: 25px;"><b>USERNAME:</b> <i>{{username}}</i></p>
            <p style="font-size: 25px;"><b>E-Mail:</b> <i>{{email}}</i></p>
        {{/if}}
    {{/each}}
</div>

{{ide}}

<div style="text-align: center; margin-top: 50px"><a type="button" href="logout">Odjavi se</a></div>